*.ods*
legacy/
raws/
**/blame
# only .jpg images will be used for screenshots
images/screenshots/*.xcf
images/screenshots/*.png
images/glass/new shepard hud.png
# unofficial conkys
widgets-large/layout.desktop.cfg
widgets-large/sidebar-time
