# git ingnore only works with untracked files!

# local build files
raws/
builder/freemarker-configuration.jar

# only .jpg images will be used for screenshots
images/screenshots/*.xcf
images/screenshots/*.png

# layout overrides are not fully documented yet
layout.*.cfg

# unofficial conkys

# java applications
/java/
